<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ae8eed7f0f.js" crossorigin="anonymous"></script>
    <title>Remindly</title>
</head>
<body>
    <div class="content-container">
        <div class="banner-container">
            <h1 class="logo">Remindly</h1>
            <i class="fa-solid fa-plus" id="task-prompt-btn"></i>
        </div>
        <div class="menu-container">
            <ul class="menu">
                <li class="menu-item group-menu-item" id="upcoming-menu" data-group="Upcoming">UPCOMING</li>
                <li class="menu-item group-menu-item" id="today-menu" data-group="Today">TODAY</li>
                <li><div class="menu-item" id="groups-dropdown">GROUPS<i class="fa-solid fa-chevron-down groups-arrow"></i></div>
                    <ul class="group-menu" id="group-menu">
                        <!-- <li class="group-menu-item" data-group="Gym">Gym</li>
                        <li class="group-menu-item" data-group="School">School</li>
                        <li class="group-menu-item" data-group="Coding">Coding</li> -->
                    </ul>
                </li>
            </ul>
        </div>
        <div class="task-add-container" id="task-add-container">
            <i class="fa-solid fa-x" id="exit-task-prompt"></i>
            <h3>Enter a reminder.</h3>
            <form>
                <div class="task-add-content">
                    <input type="text" class="task-add-input" id="task-add-input" placeholder="Task">
                    <input type="text" class="task-add-group" id="task-add-group" placeholder="Group">
                    <input type="date" class="task-add-date" id="task-add-date">
                </div>
                <button type="submit" class="task-add-btn" id="task-add-btn">Add</button>
            </form>
        </div>
        <div class="reminders-container">
            <h3>REMINDERS</h3>
            <h2 id="section-title">Upcoming</h2>
            <div class="task-titles">
                <p>TASK</p>
                <p>GROUP</p>
                <p>DATE</p>
            </div>
            <div class="tasks" id="tasks">
                <!-- <div class="task School Upcoming">
                    <input type="text" value="Homework" maxlength="40" readonly>
                    <input type="text" value="School" maxlength="40" readonly>
                    <input type="date" value="2022-05-20" readonly>
                    <button>
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
                <div class="task Gym Upcoming">
                    <input type="text" value="Workout" maxlength="40" readonly>
                    <input type="text" value="Gym" maxlength="40" readonly>
                    <input type="date" value="2022-05-18" readonly>
                    <button>
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div>
                <div class="task Coding Upcoming">
                    <input type="text" value="Build list app" maxlength="40" readonly>
                    <input type="text" value="Coding" maxlength="40" readonly>
                    <input type="date" value="2022-05-20" readonly>
                    <button>
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </div> -->
            </div>
        </div>
    </div>   
</body>
</html>